#gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}

#gallery h2 {
  justify-content: center;
  align-items: center;

  font-family: "Courier New";
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

#gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
